<nav class="usa-breadcrumb" aria-label="Breadcrumbs">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <%= link_to t("breadcrumbs.home"), root_path, class: "usa-breadcrumb__link" %>
    </li>
    <% crumbs.each do |crumb| %>
      <li class="usa-breadcrumb__list-item">
        <%= link_to crumb[:name], crumb[:url], class: "usa-breadcrumb__link" %>
      </li>
    <% end %>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span><%= current_name %></span>
    </li>
  </ol>
</nav>