############################
# Rails
############################

RAILS_ENV=development

############################
# Rails: Urls
############################

APP_HOST=localhost
APP_PORT=3100

############################
# AWS services
############################

AWS_ACCESS_KEY_ID=<FILL ME IN>
AWS_SECRET_ACCESS_KEY=<FILL ME IN>
AWS_DEFAULT_REGION=<FILL ME IN>

############################
# File storage
############################

# Uncomment and fill in an AWS S3 bucket name to use S3 for file storage
# BUCKET_NAME=<FILL ME IN>

############################
# Auth
############################

COGNITO_USER_POOL_ID=<FILL ME IN>
COGNITO_CLIENT_ID=<FILL ME IN>
COGNITO_CLIENT_SECRET=<FILL ME IN>

############################
# Database
############################

DB_HOST=127.0.0.1
DB_NAME=app_rails
DB_USER=app
DB_PASSWORD=secret123
