name: Deploy app-flask
# Need to set a default value for when the workflow is triggered from a git push
# which bypasses the default configuration for inputs
run-name: Deploy ${{ inputs.version || github.sha }} to app-flask ${{ inputs.environment || 'dev' }}

on:
  push:
    branches:
      - "main"
    paths:
      - "app-flask/**"
      - "bin/**"
      - "infra/**"
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - staging
          - prod
      version:
        required: true
        default: "main"
        description: Tag or branch or SHA to deploy

jobs:
  deploy:
    name: " " # GitHub UI is noisy when calling reusable workflows, so use whitespace for name to reduce noise
    uses: ./.github/workflows/deploy.yml
    with:
      app_name: "app-flask"
      environment: ${{ inputs.environment || 'dev' }}
      version: ${{ inputs.version || github.sha }}
    secrets: inherit
